.page {
  width: 600px;
  margin: 20px auto;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center; /* Центрирует элементы по вертикали (имеет несколько значений) */
  background-color: #eee;
  padding: 20px;

  justify-content: space-between; /* Управляет размещением элементов по горизонтали внутри блока (имеет несколько значений) */

  /* flex-direction: column; Меняет ось/направление содержимого блока с горизонтального на вертикальный и наоборот, со всеми вытекающими последствиями стилизации */
  
}

.header-item {
  /* width: 33.33333%; */
  flex-basis: 0; /* отвечает за ширину колонки */
  flex-grow: 1; /* отвечает за равномерность распределения места, этот вариант лучше т.к. в случае корректировки содержимого все происходит автоматически и не нужно пересчитывать в процентах все*/
}

.header-tel {
  order: 1; /* Меняет позицию в блоке */
}

.header-logo {
  order: 2; 
}

.header-lang {
  order: 3;
}

.content {
  display: flex; /* Перенес элементы внутри себя на 1 строку */
}

.sidebar {
  width: 15%;
  background-color: #000000;
  padding: 10px;
  color: #fff;
}

.main {
  width: 70%;
  background-color: #ca2424;
  padding: 20px;
}

.footer {
  background-color: #c0b7b7;
  padding: 20px;
}