body {
  margin: 0;

  font-family: arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #121212;

  background-color: #0d326d;
}

/* --------------------------------------------------------Auth-------------------------------------------------------- */

.auth {
  width: 260px;
  padding: 20px;
  margin: 20px auto;

  background-color: #fff;
}

.auth-title {
  margin: 0 0 15px;
  font-size: 20px;
  color: #880404;
  text-align: center;
}

/* --------------------------------------------------------input-------------------------------------------------------- */

.form-group {
  margin-bottom: 15px;
}

.input {
 display: block;
 padding: 8px 10px;
 width: 238px;

 border: 1px solid #cccccc;

 font-family: inherit;
 font-size: 15px;
 
 background-color: #fff;
}

.input:focus {
  outline: none;
  border-color: #28cbd1;
}

/* --------------------------------------------------------select-------------------------------------------------------- */

.select {
  display: block;
  padding: 8px 10px;
  width: 260px;
  height: 35px;
 
  border: 1px solid #cccccc;
 
  font-family: inherit;
  font-size: 15px;

  background-color: #fff;
 }

 .select:focus {
  outline: none;
  border-color: #28cbd1;
}

/* --------------------------------------------------------btn-------------------------------------------------------- */

.btn {
  display: block;
  width: 260px;
  font-family: inherit;
  font-size: 15px;

  border: 0;
  background-color: #2ead74;
  color: #fff;

  padding: 10px;

}

.btn:focus {
  outline: 0;
}

.btn:hover,
.btn:focus {
  background-color: #186442;
  cursor: pointer;
}

.btn:active {
  background-color: #083521;
}